<section id="hero">
    <h4>Trade in Offer</h4>
    <h2>Super Value Deals</h2>
    <h1>On our Products</h1>
    <p>Save more with coupons and up to 70% off</p>
    <button>Shop Now</button>
</section>

<section id="feature" class="section-p1">
    <div class="fe-box">
        <img src="../../assets/Featured/f1.jpg" alt="">
        <h6>Free Shipping</h6>
    </div>

    <div class="fe-box">
        <img src="../../assets/Featured/f2.png" alt="">
        <h6>Online Order</h6>
    </div>

    <div class="fe-box">
        <img src="../../assets/Featured/f3.jpg" alt="">
        <h6>Save Money</h6>
    </div>

    <div class="fe-box">
        <img src="../../assets/Featured/f4.png" alt="">
        <h6>Promotions</h6>
    </div>

    <div class="fe-box">
        <img src="../../assets/Featured/f5.jpg" alt="">
        <h6>Happy Sell</h6>
    </div>

    <div class="fe-box">
        <img src="../../assets/Featured/f6.png" alt="">
        <h6>24/7 Support</h6>
    </div>
</section>

<section id="product1" class="section-p1">
    <h2>Featured Products</h2>
    <p>Summer Collection New Modern Designs</p>
    <div class="pro-container">
        <div class="pro">
            <img src="../../assets/Products/Pro1.jpg" alt="">
            <div class="desc">
                <span>Adidas</span>
                <h5>Cartoon Astronaut Tshirts</h5>
                <div class="star">
                    <i class="fas fa-star star"></i>
                    <i class="fas fa-star star"></i>
                    <i class="fas fa-star star"></i>
                    <i class="fas fa-star star"></i>
                </div>
                <h4>₹849</h4>
            </div>
            <a href=""><i class="fas fa-shopping-cart cart"></i></a>
        </div>

        <div class="pro">
            <img src="../../assets/Products/Pro5.jpg" alt="">
            <div class="desc">
                <span>TISTABENE Store</span>
                <h5>TISTABENE Blue Flower Printed Shirt Cotton Slim Fit Regular Collar Printed for Men & Boys</h5>
                <div class="star">
                    <i class="fas fa-star star"></i>
                    <i class="fas fa-star star"></i>
                    <i class="fas fa-star star"></i>
                    <i class="fas fa-star star"></i>
                    <i class="fas fa-star star"></i>
                </div>
                <h4>₹479</h4>
            </div>
            <a href=""><i class="fas fa-shopping-cart cart"></i></a>
        </div>

        <div class="pro">
            <img src="../../assets/Products/Pro2.jpg" alt="">
            <div class="desc">
                <span>IndoPrimo</span>
                <h5>Men's Cotton Casual Shirt for Men Full Sleeve</h5>
                <div class="star">
                    <i class="fas fa-star star"></i>
                    <i class="fas fa-star star"></i>
                    <i class="fas fa-star star"></i>
                    <i class="fas fa-star star"></i>
                </div>
                <h4>₹499</h4>
            </div>
            <a href=""><i class="fas fa-shopping-cart cart"></i></a>
        </div>

        <div class="pro">
            <img src="../../assets/Products/Pro3.jpg" alt="">
            <div class="desc">
                <span>Peppyzone Store</span>
                <h5>Men's Regular Fit Checked Casual Shirt</h5>
                <div class="star">
                    <i class="fas fa-star star"></i>
                    <i class="fas fa-star star"></i>
                    <i class="fas fa-star star"></i>
                </div>
                <h4>₹599</h4>
            </div>
            <a href=""><i class="fas fa-shopping-cart cart"></i></a>
        </div>

        <div class="pro">
            <img src="../../assets/Products/Pro6.jpg" alt="">
            <div class="desc">
                <span>Solveig</span>
                <h5>Solveig Shyam Enterprise Men's Printed Cotton Halfsleeve Classic Collar Casual Shir</h5>
                <div class="star">
                    <i class="fas fa-star star"></i>
                    <i class="fas fa-star star"></i>
                    <i class="fas fa-star star"></i>
                    <i class="fas fa-star star"></i>
                    <i class="fas fa-star star"></i>
                </div>
                <h4>₹599</h4>
            </div>
            <a href=""><i class="fas fa-shopping-cart cart"></i></a>
        </div>

        <div class="pro">
            <img src="../../assets/Products/Pro4.jpg" alt="">
            <div class="desc">
                <span>BRYZZ</span>
                <h5>BRYZZ Twill Compack Shirts for Men</h5>
                <div class="star">
                    <i class="fas fa-star star"></i>
                    <i class="fas fa-star star"></i>
                    <i class="fas fa-star star"></i>
                </div>
                <h4>₹299</h4>
            </div>
            <a href=""><i class="fas fa-shopping-cart cart"></i></a>
        </div>

        <div class="pro">
            <img src="../../assets/Products/Pro8.jpg" alt="">
            <div class="desc">
                <span>JUGULAR </span>
                <h5>Men's Cotton Printed T-Shirt</h5>
                <div class="star">
                    <i class="fas fa-star star"></i>
                    <i class="fas fa-star star"></i>
                    <i class="fas fa-star star"></i>
                </div>
                <h4>₹499</h4>
            </div>
            <a href=""><i class="fas fa-shopping-cart cart"></i></a>
        </div>

        <div class="pro">
            <img src="../../assets/Products/Pro7.jpg" alt="">
            <div class="desc">
                <span>DESTINY</span>
                <h5>DESTINY</h5>
                <div class="star">
                    <i class="fas fa-star star"></i>
                    <i class="fas fa-star star"></i>
                    <i class="fas fa-star star"></i>
                    <i class="fas fa-star star"></i>
                </div>
                <h4>₹399</h4>
            </div>
            <a href=""><i class="fas fa-shopping-cart cart"></i></a>
        </div>

    </div>
</section>

<section id="banner" class="section-m1">
    <h4>Repair Services</h4>
    <h2>Up to <span>70% off </span> - All Tshirts and Accessories</h2>
    <button type="button" class="explore">Explore More</button>
</section>